# Which Data Source to use for the Spring Petclinic application. Options:MySQL, Postgres
# spring.profiles.active=postgres  , spring.profiles.active=mysql
# EX:
SPRING_PROFILES_ACTIVE=

# Spring Petclinic Environment Variables
# EX:
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=


# Postgres Variables
# EX:
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

# MySQL Variables
# EX:
MYSQL_USER= 
MYSQL_PASSWORD= 
MYSQL_ROOT_PASSWORD= 
MYSQL_DATABASE=