aws_region = "us-east-1"
environment = "dev"
vpc_cidr = "10.0.0.0/16"
public_subnet_cidr = "10.0.1.0/24"
private_subnet_cidrs = ["10.0.2.0/24"]
admin_cidr = "203.0.113.0/32"
instance_type = "t3.micro"
docker_image = "bbodda123/spring-petclinic:latest"
db_name = "petclinic"
db_username = "petclinic"
# db_password = "petclinic"
db_instance_class = "db.t3.micro"
ssh_key_name = "petClinic-key"
