version: '3.8'
services:
  spring-petclinic:
    image: "{{ docker_image }}:{{ tag }}"
    environment:
      - SPRING_PROFILES_ACTIVE=postgres 
      - SPRING_DATASOURCE_URL=jdbc:postgresql://terraform-20260826084219363000000001.cwx6qq6aqkj8.us-east-1.rds.amazonaws.com:5432/petclinic
      - SPRING_DATASOURCE_USERNAME=petclinic
      - SPRING_DATASOURCE_PASSWORD=petclinic
    user: "{{ spring_app.run_uid }}:{{ spring_app.run_gid }}"
    ports:
      - "{{ spring_app.bind_host }}:{{ spring_app.spring_port }}:8080"
    restart: unless-stopped
    read_only: {{ spring_app.read_only | default(True) }}
    tmpfs:
{% for p in spring_app.tmp_writable_paths %}
      - "{{ p }}"
{% endfor %}
    
    cap_drop:
{% for i in spring_app.cap_drop %}
      - {{ i }}
{% endfor %}
    security_opt:
      - no-new-privileges:true
    mem_limit: "{{ spring_app.mem_limit }}"
    cpus: "{{ spring_app.cpus }}"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://{{ spring_app.bind_host }}:{{ spring_app.spring_port }}/actuator/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
