version: '3.8'
services:
  spring-petclinic:
    image: "{{ docker_image }}:{{ tag }}"
    env_file:
      - .env
    user: "{{ spring_app.run_uid }}:{{ spring_app.run_gid }}"
    ports:
      - "{{ spring_app.bind_host }}:{{ spring_app.spring_port }}:8080"
    restart: unless-stopped
    read_only: {{ spring_app.read_only | default(True) }}
    tmpfs:
{% for p in spring_app.tmp_writable_paths %}
      - "{{ p }}"
{% endfor %}
    
    cap_drop:
{% for i in spring_app.cap_drop %}
      - {{ i }}
{% endfor %}
    security_opt:
      - no-new-privileges:true
    mem_limit: "{{ spring_app.mem_limit }}"
    cpus: "{{ spring_app.cpus }}"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
